
h3 {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

body {
   background-image: url("https://i.pinimg.com/originals/1c/2d/3d/1c2d3da0aedd5529bdc950b37770f428.gif");
    background-repeat: no-repeat;
    background-position: right top; 
    background-attachment: fixed; 
    }


